<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<body>

<div align="center" class="row">

  <div>
    <h3>Title</h3
    <p><a href={{category_url}}>{{category_title}}</a></p>
  </div>

  <div>
    <h3>Latest Published Video Date</h3
    <p>{{latest_published_video_date}}</p>
  </div>

  <div>
    <h3>Number of Videos</h3
    <p>{{num_videos}}</p>
  </div>

  <div>
    <h3>Assignable</h3
    <p>{{assignable}}</p>
  </div>

  <div>
    <h3>Most Popular Video</h3
    <p><a href={{most_popular_video[1]}}>{{most_popular_video[0]}}</a></p>
  </div>

  <div>
    <h3>Most Popular Channel</h3
    <p><a href={{most_popular_channel[1]}}>{{most_popular_channel[0]}}</a></p>
  </div>


  <div class="col-xs-4 col-xs-offset-2">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Videos</th>
      </tr>
    </thead>
    <tbody>
      {% for video in video_array %}
      <tr>
          <td> <a href={{ video['video_url'] }} > {{ video['video_title'] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="col-xs-4 col-xs-offset-2">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Channels</th>
      </tr>
    </thead>
    <tbody>
      {% for channel in channel_array %}
      <tr>
          <td> <a href={{ channel['channel_url'] }} > {{ channel['channel_title'] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>



</div>



</body>
</html>