<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>

<div align="center" class="row">

  <div>
    <h3>Title</h3
    <p><a href={{channel_url}}>{{channel_title}}</a></p>
  </div>

  <div>
    <h3>Description</h3
    <p>{{description}}</p>
  </div>

  <div>
    <h3>Date of Publication</h3
    <p>{{date_of_publication}}</p>
  </div>

  <div>
    <h3>Country</h3
    <p>{{country}}</p>
  </div>

  <div>
    <h3>View Count</h3
    <p>{{view_count}}</p>
  </div>

  <div>
    <h3>Subscriber Count</h3>
    <p>{{subscriber_count}}</p>
    {% if subscriber_count == 0 %}
    <p>This is not a bug...this channel actually has no subscribers</p>
    {% endif %}
  </div>


  <div class="col-xs-4 col-xs-offset-2">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Videos</th>
      </tr>
    </thead>
    <tbody>
      {% for video in video_array %}
      <tr>
          <td> <a href={{ video['video_url'] }} > {{ video['video_title'] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="col-xs-4">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Playlists</th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in playlist_array %}
      <tr>
          <td> <a href={{ playlist['playlist_url'] }} > {{ playlist['playlist_title'] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>



</div>



</body>
</html>