<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>

   <div class="container">

        <!-- Objects -->
        <br>
        <div class="row" id="container"></div>

        <!-- Pagination -->
        <br>
        <div class="row text-center" id="pagin"></div>

      </div>

      <script type="text/javascript">
        {% include 'react.jsx' %}
      </script>

      <!-- Scripts -->

      <script type="text/babel">

        var num_pages = 4;

        function Channel(props) {
          return (
                <div className={"col-md-4"}>
                  <div className={"channel-panel-container text-center"}>                
                  <h3><div className={"wrap"}><a href={"/channel/" + props.dict.id}>{props.dict.title}</a></div></h3>                
                  <b>Description</b><br />
                  <div className={"wrap"}>{props.dict.description}<br /></div><br />
                  <b>Date of Publication</b><br />
                  <div className={"wrap"}>{props.dict.published_date}</div><br />
                  <b>Country</b><br />
                  <div className={"wrap"}>{props.dict.country}</div><br />
                  <b>View Count</b><br />
                  <div className={"wrap"}>{props.dict.view_count}</div><br />
                  <b>Subscriber Count</b><br />
                  <div className={"wrap"}>{props.dict.subscriber_count}</div><br />
                </div>
              </div>
            )
        }

        function ChannelRows(props) {
          var channel_list = [];
          for(var i = 0; i < props.size; i++) {
            channel_list.push(<Channel dict={props.list[i]} />);
          }
          return (<div className={"row"}>{channel_list}</div>);
        }

        class Control extends React.Component {
          constructor() {
            super();
            this.state = {
              active_page: 1,
              objects_per_page: 3,
              list: []
            };
            this.handlePageClick = this.handlePageClick.bind(this)
            this.handleSortClick = this.handleSortClick.bind(this)
            this.handleChannelClick = this.handleChannelClick.bind(this)
            this.handleCategoryClick = this.handleCategoryClick.bind(this)
          }

          handlePageClick(event) {
            var num = Number(event.target.id)
            this.setState({
              active_page: num
            });
            this.state.list = []
            console.log("page " + num)
          }
            
          handleSortClick(event){
              this.state.list = []
              console.log("sort " + event.target.id)
          }

          handleChannelClick(event){
              this.state.list = []
              console.log("filter channel " + event.target.id)
          }

          handleCategoryClick(event){
              this.state.list = []
              console.log("filter category " + event.target.id)
          }


          render() {
            if (this.state.list.length == 0) {
               $.getJSON('/pagination/channel/' + this.state.active_page).done(function(data) {
                  this.state.list = data
                  this.forceUpdate()                
              }.bind(this));   
            }

            var sortButtons = ["Title", "Channel", "Description", "Thumbnail", "Tags", "Categories"];

            var channelFilterButtons = ["filter1","filter2","filter3"];

            var categoryFilterButtons = ["filter1","filter2","filter3"]

            const renderSortButtons = sortButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-danger btn-sm"} id={sortButton} onClick={this.handleSortClick}><i className={"fa fa-chevron-down"} aria-hidden={false}></i>{sortButton}
                </button>
              );
            });

            const renderChannelFB = channelFilterButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-primary btn-sm"} id={sortButton} onClick={this.handleChannelClick}><i className={"fa fa-chevron-down"} aria-hidden={false}></i>{sortButton}
                </button>
              );
            }); 

            const renderCategoryFB = categoryFilterButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-primary btn-sm"} id={sortButton} onClick={this.handleCategoryClick}><i className={"fa fa-chevron-down"} aria-hidden={false}></i>{sortButton}
                </button>
              );
            });  

            const pageNumbers = [];
            for (let i = 1; i <= this.props.num_pages; i++) {
                pageNumbers.push(i);
            }

            const renderPageNumbers = pageNumbers.map(number => {
              return (
                <li>
                  <a id={number} onClick={this.handlePageClick} href={"#"}>{number}</a>
                </li>
              );
            });


            if (this.state.list) {
              console.log(this.state.list)
              return (

              <div className={"container"}>

                {/*Page Header*/}
                <div className={"row"}>
                  <div className={"col-lg-12"}>
                      <h1 className={"page-header text-center"}>Channels</h1>
                  </div>
                </div>

                {/*Sort Bar*/}
                <div className={"btn-toolbar"}>
                  {renderSortButtons}
                </div>
                <br></br>

                {/*Filter*/}
                
                <h4>Channel</h4>
                <div className={"btn-group"} data-toggle={"buttons"}>
                  {renderChannelFB}
                </div>

                <h4>Category</h4>
                <div className={"btn-group"} data-toggle={"buttons"}>
                  {renderCategoryFB}
                </div>
                <br></br>
                <br></br>
                

                <ChannelRows list={this.state.list} size={this.state.list.length} />

                <div className={"col-lg-12"}>
                      <ul className={"pagination"}>
                        <li><a href={"#"}>&laquo;</a></li>
                          {renderPageNumbers}
                        <li><a href={"#"}>&raquo;</a></li>
                    </ul>
                </div>    
              </div>
              );
              }
            return <div>loading...</div>
          }
        }

        ReactDOM.render(<Control num_pages={num_pages}/>, document.getElementById('container'));

      </script>
  </body>

</html>