<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
</head>
<body>

<div align="center" class="row">

  {% for item in channel_data %}
  <div>
    <h3>{{headers[loop.index - 1]}}</h3>
    <p>
      {% if item is not string %}
        <a href={{ item[1] }} > {{ item[0] }} </a>
      {% else %}
        {% if 'jpg' in item %}
          <img src={{item}}>
        {% else %}
          {{item}}
        {% endif %}
      {% endif %}
    </p>
  </div>
  {% endfor %}

  <div class="col-xs-4 col-xs-offset-2">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Videos</th>
      </tr>
    </thead>
    <tbody>
      {% for video in channel_video_list %}
      <tr>
          <td> <a href={{ video[1] }} > {{ video[0] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>

  <div class="col-xs-4">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Playlists</th>
      </tr>
    </thead>
    <tbody>
      {% for playlist in channel_playlist_list %}
      <tr>
          <td> <a href={{ playlist[1] }} > {{ playlist[0] }} </a></td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>



</div>



</body>
</html>