<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>

   <div class="container">

        <!-- Objects -->
        <br>
        <div class="row" id="container"></div>

        <!-- Pagination -->
        <br>
        <div class="row text-center" id="pagin"></div>

      </div>

      <script type="text/javascript">
        {% include 'react.jsx' %}
      </script>

      <!-- Scripts -->

      <script type="text/babel">

        var num_pages = 4;

        function Channel(props) {
          return (
                <div className={"col-md-4"}>
                  <div className={"channel-panel-container text-center"}>                
                  <h3><div className={"wrap"}><a href={"/channel/" + props.dict.id}>{props.dict.title}</a></div></h3>                
                  <b>Description</b><br />
                  <div className={"wrap"}>{props.dict.description}<br /></div><br />
                  <b>Date of Publication</b><br />
                  <div className={"wrap"}>{props.dict.published_date}</div><br />
                  <b>Country</b><br />
                  <div className={"wrap"}>{props.dict.country}</div><br />
                  <b>View Count</b><br />
                  <div className={"wrap"}>{props.dict.view_count}</div><br />
                  <b>Subscriber Count</b><br />
                  <div className={"wrap"}>{props.dict.subscriber_count}</div><br />
                </div>
              </div>
            )
        }

        function ChannelRows(props) {
          var channel_list = [];
          for(var i = 0; i < props.size; i++) {
            channel_list.push(<Channel dict={props.list[i]} />);
          }
          return (<div className={"row"}>{channel_list}</div>);
        }

        class Control extends React.Component {
          constructor() {
            super();
            this.state = {
              active_page: 1,
              objects_per_page: 3,
              list: [],
              sortState: [0, 0],
              filterState: [],
              countryFilterButtons: [["US", "btn btn-primary btn-sm"], ["GB", "btn btn-primary btn-sm"]],
              sortButtons: [["Title", ""], ["Subscriber Count", ""]]              
            };
            this.handlePageClick = this.handlePageClick.bind(this)
            this.handleSortClick = this.handleSortClick.bind(this)
            this.handleCountryClick = this.handleCountryClick.bind(this)
          }

          handlePageClick(event) {
            var num = Number(event.target.id)
            this.setState({
              active_page: num
            });
            this.state.list = []
            console.log("page " + num)
          }
            
          handleSortClick(event){
              this.state.list = []
              if(event.target.id == "Title") {
                this.state.sortButtons[1][1] = "";
                if(this.state.sortButtons[0][1] == "") {
                  this.state.sortButtons[0][1] = "\u25B2";
                } else if (this.state.sortButtons[0][1] == "\u25B2") {
                  this.state.sortButtons[0][1] = "\u25BC";
                } else {
                  this.state.sortButtons[0][1] = "";
                }
              } else {
                this.state.sortButtons[0][1] = "";
                if(this.state.sortButtons[1][1] == "") {
                  this.state.sortButtons[1][1] = "\u25B2";
                } else if (this.state.sortButtons[1][1] == "\u25B2") {
                  this.state.sortButtons[1][1] = "\u25BC";
                } else {
                  this.state.sortButtons[1][1] = "";
                }
              }

              var filterStateString = "";              
              for (var i = 0; i < this.state.filterState.length; i++) {
                filterStateString += this.state.filterState[i] + ",";
              }

              var filterStateString2 = "blank";           

              if (filterStateString == "") {
                filterStateString = "blank";
              }

              var finalStateString = filterStateString + '/' + filterStateString2;

              if (event.target.id == "Title") {
                var currSortVal = this.state.sortState[0];
                this.state.sortState = [(currSortVal + 1) % 3, 0];
                $.get('/sorting/channel/' + ((currSortVal + 1) % 3) + '/title/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this));
              }
              else {
                var currSortVal = this.state.sortState[1];
                this.state.sortState = [0, (currSortVal + 1) % 3];
                $.get('/sorting/channel/' + ((currSortVal + 1) % 3) + '/subscriber_count/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this)); 
              }           

          }

          handleCountryClick(event){
              this.state.list = []
              console.log("HI" + event.target.id)
              if(event.target.id == 'US') {
                if(this.state.countryFilterButtons[0][1] == 'btn btn-warning btn-sm') {
                  this.state.countryFilterButtons[0][1] = 'btn btn-primary btn-sm';
                }
                else {
                  this.state.countryFilterButtons[0][1] = 'btn btn-warning btn-sm';
                }
              } else {
                if(this.state.countryFilterButtons[1][1] == 'btn btn-warning btn-sm') {
                  this.state.countryFilterButtons[1][1] = 'btn btn-primary btn-sm';
                }
                else {
                  this.state.countryFilterButtons[1][1] = 'btn btn-warning btn-sm';
                }
              }

              if (this.state.filterState.indexOf(event.target.id) == -1) {
                this.state.filterState.push(event.target.id);
              }
              else {
                var index = this.state.filterState.indexOf(event.target.id);
                this.state.filterState.splice(index, 1);
              }

              var filterStateString = "";              
              for (var i = 0; i < this.state.filterState.length; i++) {
                filterStateString += this.state.filterState[i] + ",";
              }

              var filterStateString2 = "blank";           

              if (filterStateString == "") {
                filterStateString = "blank";
              }

              var finalStateString = filterStateString + '/' + filterStateString2;

              var nonZeroElementIndex = 0;
              var option = "blank";
              for (var i = 0; i < this.state.sortState.length; i++) {
                if (this.state.sortState[i] != 0) {
                  nonZeroElementIndex = i;
                  if (nonZeroElementIndex == 0) {
                    option = "title";
                  }
                  else if (nonZeroElementIndex == 1) {
                    option = "country";
                  }
                  break;
                }
              }

              $.get('/sorting/channel/' + this.state.sortState[nonZeroElementIndex] + '/' + option + '/' + finalStateString).done(function() {
                  this.state.list = []
                  this.state.active_page = 1
                  this.forceUpdate()                
              }.bind(this));              
          }

          render() {
            if (this.state.list.length == 0 && this.state.filterState.length == 0) {
               $.getJSON('/pagination/channel/' + this.state.active_page).done(function(data) {
                  this.state.list = data
                  this.forceUpdate()                
              }.bind(this));   
            }

            // var sortButtons = ["Title", "Channel", "Description", "Thumbnail", "Tags", "Categories"];

            const renderSortButtons = this.state.sortButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-danger btn-sm"} id={sortButton[0]} onClick={this.handleSortClick}><i aria-hidden={false}></i>{sortButton[0]}{sortButton[1]}
                </button>
              );
            });

            const renderCountryFB = this.state.countryFilterButtons.map(sortButton => {
              return (
                <button type={"button"} className={sortButton[1]} id={sortButton[0]} onClick={this.handleCountryClick}><i aria-hidden={false}></i>{sortButton[0]}
                </button>
              );
            }); 

            // const renderCategoryFB = categoryFilterButtons.map(sortButton => {
            //   return (
            //     <button type={"button"} className={"btn btn-primary btn-sm"} id={sortButton} onClick={this.handleCategoryClick}><i className={"fa fa-chevron-down"} aria-hidden={false}></i>{sortButton}
            //     </button>
            //   );
            // });  

            const pageNumbers = [];
            for (let i = 1; i <= this.props.num_pages; i++) {
                pageNumbers.push(i);
            }

            const renderPageNumbers = pageNumbers.map(number => {
              return (
                <li>
                  <a id={number} onClick={this.handlePageClick} href={"#"}>{number}</a>
                </li>
              );
            });


            if (this.state.list) {
              return (

              <div className={"container"}>

                {/*Page Header*/}
                <div className={"row"}>
                  <div className={"col-lg-12"}>
                      <h1 className={"page-header text-center"}>Channels</h1>
                  </div>
                </div>

                {/*Sort Bar*/}
                <div className={"btn-toolbar"}>
                  {renderSortButtons}
                </div>
                <br></br>

                {/*Filter*/}
                
                <h4>Country</h4>
                <div className={"btn-group"} data-toggle={"buttons"}>
                  {renderCountryFB}
                </div>

                <br></br>
                <br></br>
                

                <ChannelRows list={this.state.list} size={this.state.list.length} />

                <div className={"col-lg-12"}>
                      <ul className={"pagination"}>
                        <li><a href={"#"}>&laquo;</a></li>
                          {renderPageNumbers}
                        <li><a href={"#"}>&raquo;</a></li>
                    </ul>
                </div>    
              </div>
              );
              }
            return <div>loading...</div>
          }
        }

        ReactDOM.render(<Control num_pages={num_pages}/>, document.getElementById('container'));

      </script>
  </body>

</html>