<!DOCTYPE html>
<html lang="en">
<head>
  <title>YouTubeSWEg</title>
  <link rel=icon href="https://www.youtube.com/yts/img/favicon_144-vflWmzoXw.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

  <link href= "{{ url_for('static', filename='youtubesweg.css') }}" rel= "stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Base</title>  

  <nav id="navMenu"></nav>
  <script type="text/javascript">
   $(document).ready(function () {
      $(".nav li").removeClass("active");//this will remove the active class from  
      $('#{{title}}').addClass('active');      
    });
  </script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</head>
<body>

<div class="container">
  <h2>YouTube {{title}}</h2>
    <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  <table class="table table-striped">
    <thead>
      <tr>
        {% for table_header in table_headers %}
          <th>{{table_header}}&#9650;</th>  
        {% endfor %}    
      </tr>
    </thead>
    <tbody>
      {% for data_item in data %}
      <tr>
        {% for item in data_item %}

          {% if item is not string %}
              <td> <a href={{ item[1] }} > {{ item[0] }} </a></td>
          {% else %}
            {% if 'jpg' in item %}
              <td><img src={{item}}></td>
            {% else %}
              <td>{{item}}</td>
            {% endif %}
          {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>