<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>

   <div class="container">

        <!-- Objects -->
        <br>
        <div class="row" id="container"></div>

        <!-- Pagination -->
        <br>
        <div class="row text-center" id="pagin"></div>

      </div>

      <script type="text/javascript">
        {% include 'react.jsx' %}
      </script>

      <!-- Scripts -->

      <script type="text/babel">

        var num_pages = 7;

        function Playlist(props) {
          return (
                <div className={"col-md-4"}>
                  <div className={"playlist-panel-container text-center"}>                
                  <h3><div className={"wrap"}><a href={"/playlist/" + props.dict.id}>{props.dict.title}</a></div></h3>

                  <b>Description</b><br />
                  <div className={"wrap"}>{props.dict.description}</div><br />

                  <b>Date of Publication</b><br />
                  <div className={"wrap"}>{props.dict.published_date}</div><br />

                  <b>Total Item Count</b><br />
                  <div className={"wrap"}>{props.dict.num_items}<br /></div><br />

                </div>
              </div>
            )
        }

        function PlaylistRows(props) {
          var playlist_list = [];
          for(var i = 0; i < props.size; i++) {
            playlist_list.push(<Playlist dict={props.list[i]} />);
          }
          return (<div className={"row"}>{playlist_list}</div>);
        }

        class Control extends React.Component {
          constructor() {
            super();
            this.state = {
              active_page: 1,
              objects_per_page: 3,
              list: [],
              sortState: [0, 0],
              filterState: [],
              sortButtons: [["Title", ""], ["Item Count", ""]]           
            };
            this.handlePageClick = this.handlePageClick.bind(this)
            this.handleSortClick = this.handleSortClick.bind(this)
          }

          handlePageClick(event) {
            var num = Number(event.target.id)
            this.setState({
              active_page: num
            });
            this.state.list = []
            console.log("page " + num)
          }
            
          handleSortClick(event){
              this.state.list = []
              if(event.target.id == "Title") {
                this.state.sortButtons[1][1] = "";
                if(this.state.sortButtons[0][1] == "") {
                  this.state.sortButtons[0][1] = "\u25B2";
                } else if (this.state.sortButtons[0][1] == "\u25B2") {
                  this.state.sortButtons[0][1] = "\u25BC";
                } else {
                  this.state.sortButtons[0][1] = "";
                }
              } else {
                this.state.sortButtons[0][1] = "";
                if(this.state.sortButtons[1][1] == "") {
                  this.state.sortButtons[1][1] = "\u25B2";
                } else if (this.state.sortButtons[1][1] == "\u25B2") {
                  this.state.sortButtons[1][1] = "\u25BC";
                } else {
                  this.state.sortButtons[1][1] = "";
                }
              }

              var filterStateString = "blank";              
              var filterStateString2 = "blank";           

              var finalStateString = filterStateString + '/' + filterStateString2;

              if (event.target.id == "Title") {
                var currSortVal = this.state.sortState[0];
                this.state.sortState = [(currSortVal + 1) % 3, 0];
                $.get('/sorting/playlist/' + ((currSortVal + 1) % 3) + '/title/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this));
              }
              else {
                var currSortVal = this.state.sortState[1];
                this.state.sortState = [0, (currSortVal + 1) % 3];
                $.get('/sorting/playlist/' + ((currSortVal + 1) % 3) + '/num_items/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this)); 
              }           

          }

          render() {
            if (this.state.list.length == 0) {
               $.getJSON('/pagination/playlist/' + this.state.active_page).done(function(data) {
                  this.state.list = data
                  this.forceUpdate()                
              }.bind(this));   
            }

            // var sortButtons = ["Title", "Channel", "Description", "Thumbnail", "Tags", "Categories"];

            const renderSortButtons = this.state.sortButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-danger btn-sm"} id={sortButton[0]} onClick={this.handleSortClick}><i aria-hidden={false}></i>{sortButton[0]}{sortButton[1]}
                </button>
              );
            });

            const pageNumbers = [];
            for (let i = 1; i <= this.props.num_pages; i++) {
                pageNumbers.push(i);
            }

            const renderPageNumbers = pageNumbers.map(number => {
              return (
                <li>
                  <a id={number} onClick={this.handlePageClick} href={"#"}>{number}</a>
                </li>
              );
            });


            if (this.state.list) {
              return (

              <div className={"container"}>

                {/*Page Header*/}
                <div className={"row"}>
                  <div className={"col-lg-12"}>
                      <h1 className={"page-header text-center"}>Playlists</h1>
                  </div>
                </div>

                {/*Sort Bar*/}
                <div className={"btn-toolbar"}>
                  {renderSortButtons}
                </div>
                <br></br>

                <br></br>
                <br></br>
                

                <PlaylistRows list={this.state.list} size={this.state.list.length} />

                <div className={"col-lg-12"}>
                      <ul className={"pagination"}>
                        <li><a href={"#"}>&laquo;</a></li>
                          {renderPageNumbers}
                        <li><a href={"#"}>&raquo;</a></li>
                    </ul>
                </div>    
              </div>
              );
              }
            return <div>loading...</div>
          }
        }

        ReactDOM.render(<Control num_pages={num_pages}/>, document.getElementById('container'));

      </script>
  </body>

</html>