<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<body>

<div align="center" class="row">
  <br />
  <div>
    <iframe width="560" height="315" src={{video_link}} frameborder="0" allowfullscreen></iframe>
  </div>

  {% for item in video_data %}
  <div>
    <h3>{{headers[loop.index - 1]}}</h3>
    <p>
      {% if item is not string %}
        <a href={{ item[1] }} > {{ item[0] }} </a>
      {% else %}
        {% if 'jpg' in item %}
          <img src={{item}}>
        {% else %}
          {{item}}
        {% endif %}
      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>

</body>
</html>