<!DOCTYPE html>
<html lang="en">
<head>
  {% include 'head.html' %}
</head>
<body>

<div align="center" class="row">
  <br />
  <div>
    <iframe width="675" height="350" src={{url}} frameborder="0" allowfullscreen></iframe>
  </div>


  <div>
    <h3>Title</h3
    <p><a href={{title_url}}>{{vid_title}}</a></p>
  </div>

  <div>
    <h3>Channel</h3
    <p><a href={{channel_url}}>{{channel}}</a></p>
  </div>

  <div>
    <h3>Description</h3
    <p>{{description}}</p>
  </div>

  <div>
    <h3>Thumbnail</h3
    <p><img src={{thumbnail}}></p>
  </div>

  <div>
    <h3>Tags</h3
    <p>{{tags}}</p>
  </div>

  <div>
    <h3>Category</h3
    <p><a href={{category_url}}>{{category}}</a></p>
  </div>
  
</div>

</body>
</html>