<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'head.html' %}
  </head>

  <body>

   <div class="container">

        <!-- Objects -->
        <br>
        <div class="row" id="container"></div>

        <!-- Pagination -->
        <br>
        <div class="row text-center" id="pagin"></div>

      </div>

      <script type="text/javascript">
        {% include 'react.jsx' %}
      </script>

      <!-- Scripts -->

      <script type="text/babel">

        var num_pages = 23;

        function Video(props) {
          return (
                <div className="col-md-4">
                <div className="panel panel-default">
                  <h3><div className={"wrap"}><a href={"/video/" + props.dict.id}>{props.dict.title}</a></div></h3>
                  <b>Thumbnail</b><br />
                  <img src={props.dict.thumbnail} /><br /><br />                  
                  <b>Channel</b><br />
                  <div className={"wrap"}> <a href={"/channel/" + props.dict.channel_id}>{props.dict.channel_title}</a></div><br />
                  <b>Description</b><br />
                  <div className={"wrap"}>{props.dict.description}<br /></div><br />
                  <b>Tags</b><br />
                  <div className={"wrap"}>{props.dict.tags}</div><br />
                  <b>Categories</b><br />
                  <div className={"wrap"}> <a href={"/category/" + props.dict.category_id}>{props.dict.category_title}</a></div><br />
                </div>
              </div>
            )
        }

        function VideoRows(props) {
          var video_list = [];
          for(var i = 0; i < props.size; i++) {
            video_list.push(<Video dict={props.list[i]} />);
          }
          return (<div className={"row"}>{video_list}</div>);
        }

        class Control extends React.Component {
          constructor() {
            super();
            this.state = {
              active_page: 1,
              objects_per_page: 3,
              list: [],
              sortState: [0, 0, 0],
              filterState: [],
              filterState2: []
            };
            this.handlePageClick = this.handlePageClick.bind(this)
            this.handleSortClick = this.handleSortClick.bind(this)
            this.handleChannelClick = this.handleChannelClick.bind(this)
            this.handleCategoryClick = this.handleCategoryClick.bind(this)
          }

          handlePageClick(event) {
              var num = Number(event.target.id)
              this.setState({
                active_page: num
              });
              this.state.list = []
          }
            
          handleSortClick(event){
              // this.state.list = []
              var filterStateString = "";              
              for (var i = 0; i < this.state.filterState.length; i++) {
                filterStateString += this.state.filterState[i] + ",";
              }

              var filterStateString2 = "";
              for (var i = 0; i < this.state.filterState2.length; i++) {
                filterStateString2 += this.state.filterState2[i] + ",";
              }            

              if (filterStateString == "") {
                filterStateString = "blank";
              }
              if (filterStateString2 == "") {
                filterStateString2 = "blank";
              }
              var finalStateString = filterStateString + '/' + filterStateString2;


              if (event.target.id == "Title") {
                var currSortVal = this.state.sortState[0];
                this.state.sortState = [(currSortVal + 1) % 3, 0, 0];
                $.get('/sorting/video/' + ((currSortVal + 1) % 3) + '/title/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this));
              }
              else if (event.target.id == "Channel") {
                var currSortVal = this.state.sortState[1];
                this.state.sortState = [0, (currSortVal + 1) % 3, 0];
                $.get('/sorting/video/' + ((currSortVal + 1) % 3) + '/channel_title/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this));                
              }
              else {
                var currSortVal = this.state.sortState[2];
                this.state.sortState = [0, 0, (currSortVal + 1) % 3];
                $.get('/sorting/video/' + ((currSortVal + 1) % 3) + '/category_title/' + finalStateString).done(function() {
                    this.state.list = []
                    this.state.active_page = 1
                    this.forceUpdate()                
                }.bind(this)); 
              }           
          }

          handleChannelClick(event) {
              this.state.list = []

              if (this.state.filterState.indexOf(event.target.id) == -1) {
                this.state.filterState.push(event.target.id);
              }
              else {
                var index = this.state.filterState.indexOf(event.target.id);
                this.state.filterState.splice(index, 1);
              }

              var filterStateString = "";              
              for (var i = 0; i < this.state.filterState.length; i++) {
                filterStateString += this.state.filterState[i] + ",";
              }

              var filterStateString2 = "";
              for (var i = 0; i < this.state.filterState2.length; i++) {
                filterStateString2 += this.state.filterState2[i] + ",";
              }            

              if (filterStateString == "") {
                filterStateString = "blank";
              }
              if (filterStateString2 == "") {
                filterStateString2 = "blank";
              }
              var finalStateString = filterStateString + '/' + filterStateString2;

              var nonZeroElementIndex = 0;
              var option = "blank";
              for (var i = 0; i < this.state.sortState.length; i++) {
                if (this.state.sortState[i] != 0) {
                  nonZeroElementIndex = i;
                  if (nonZeroElementIndex == 0) {
                    option = "title";
                  }
                  else if (nonZeroElementIndex == 1) {
                    option = "channel_title";
                  }
                  else {
                    option = "category_title";
                  }
                  break;
                }
              }

              $.get('/sorting/video/' + this.state.sortState[nonZeroElementIndex] + '/' + option + '/' + finalStateString).done(function() {
                  this.state.list = []
                  this.state.active_page = 1
                  this.forceUpdate()                
              }.bind(this));
          }             

          handleCategoryClick(event){
              this.state.list = []

              if (this.state.filterState2.indexOf(event.target.id) == -1) {
                this.state.filterState2.push(event.target.id);
              }
              else {
                var index = this.state.filterState2.indexOf(event.target.id);
                this.state.filterState2.splice(index, 1);
              }

              var filterStateString = "";              
              for (var i = 0; i < this.state.filterState.length; i++) {
                filterStateString += this.state.filterState[i] + ",";
              }

              var filterStateString2 = "";
              for (var i = 0; i < this.state.filterState2.length; i++) {
                filterStateString2 += this.state.filterState2[i] + ",";
              }            

              if (filterStateString == "") {
                filterStateString = "blank";
              }
              if (filterStateString2 == "") {
                filterStateString2 = "blank";
              }
              var finalStateString = filterStateString + '/' + filterStateString2;

              var nonZeroElementIndex = 0;
              var option = "blank";
              for (var i = 0; i < this.state.sortState.length; i++) {
                if (this.state.sortState[i] != 0) {
                  nonZeroElementIndex = i;
                  if (nonZeroElementIndex == 0) {
                    option = "title";
                  }
                  else if (nonZeroElementIndex == 1) {
                    option = "channel_title";
                  }
                  else {
                    option = "category_title";
                  }
                  break;
                }
              }

              $.get('/sorting/video/' + this.state.sortState[nonZeroElementIndex] + '/' + option + '/' + finalStateString).done(function() {
                  this.state.list = []
                  this.state.active_page = 1
                  this.forceUpdate()                
              }.bind(this));
          }
            
          render() {
            if (this.state.list.length == 0) {
               $.getJSON('/pagination/video/' + this.state.active_page).done(function(data) {
                  this.state.list = data
                  this.forceUpdate()                
              }.bind(this));   
            }

            var sortButtons = ["Title", "Channel", "Categories"];

            var channelFilterButtons = ["LastWeekTonight","Bloomberg","Adult Swim","Tasty","BuzzFeedVideo"];

            var categoryFilterButtons = ["Sports","Entertainment","Comedy","Gaming","People & Blogs"];

            const renderSortButtons = sortButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-danger btn-sm"} id={sortButton} onClick={this.handleSortClick}><i aria-hidden={false}></i>{sortButton}
                </button>
              );
            });

            const renderChannelFB = channelFilterButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-primary btn-sm"} id={sortButton} onClick={this.handleChannelClick}><i aria-hidden={false}></i>{sortButton}
                </button>
              );
            }); 

            const renderCategoryFB = categoryFilterButtons.map(sortButton => {
              return (
                <button type={"button"} className={"btn btn-primary btn-sm"} id={sortButton} onClick={this.handleCategoryClick}><i aria-hidden={false}></i>{sortButton}
                </button>
              );
            });  

            const pageNumbers = [];
            for (let i = 1; i <= this.props.num_pages; i++) {
                pageNumbers.push(i);
            }

            const renderPageNumbers = pageNumbers.map(number => {
              return (
                <li>
                  <a id={number} onClick={this.handlePageClick} href={"#"}>{number}</a>
                </li>
              );
            });


            if (this.state.list) {
              console.log(this.state.list)
              return (

              <div className={"container"}>

                {/*Page Header*/}
                <div className={"row"}>
                  <div className={"col-lg-12"}>
                      <h1 className={"page-header text-center"}>Videos</h1>
                  </div>
                </div>

                {/*Sort Bar*/}
                <div className={"btn-toolbar"}>
                  {renderSortButtons}
                </div>
                <br></br>

                {/*Filter*/}                               
                
                <h4>Channel</h4>
                <div className={"btn-group"} data-toggle={"buttons"}>
                  {renderChannelFB}
                </div>

                <h4>Category</h4>
                <div className={"btn-group"} data-toggle={"buttons"}>
                  {renderCategoryFB}
                </div>
                <br></br>
                <br></br>
                

                <VideoRows list={this.state.list} size={this.state.list.length} />

                <div className={"col-lg-12"}>
                      <ul className={"pagination"}>
                        <li><a href={"#"}>&laquo;</a></li>
                          {renderPageNumbers}
                        <li><a href={"#"}>&raquo;</a></li>
                    </ul>
                </div>    
              </div>
              );
              }
            return <div>loading...</div>
          }
        }

        ReactDOM.render(<Control num_pages={num_pages}/>, document.getElementById('container'));

      </script>
  </body>

</html>